*{
  box-sizing: border-box;
}
body{
  background-color: rgb(107, 107, 107);
  background: repeating-linear-gradient(
    45deg,
    #444444,
    #444444 10px,
    #465298 10px,
    #465298 20px
  );
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.desktop{
  position: absolute;
  background-image: radial-gradient(farthest-corner at 87% 92%,
  rgba(51, 231, 255, 0.562) 0%, rgba(66, 51, 238, 0.603) 50%);
  display: block;
  min-height: 94vh;
  overflow: hidden;
  height: 97vh;
  width: 90vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.calc_main{
  position: absolute;
  display: none;
  top: 2vh;
  left: 13vw;
  font-size: 15px;
}
.calc_input{
  margin: 0.5rem;
}
.panel1{
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: auto;
  background-color: rgb(59, 59, 78);
  /* border: solid grey; */
  align-items: center;
  left: 0;
  top: 0;
  z-index: 1;
  border-radius: 0.7rem;
  padding: 1rem;
  box-shadow: 5px 10px 8px #242424;
  max-width: 80%;
  min-width: 60%;
}
.display1{
  position: relative;
  width: 100%;
  height: 200px;
  background-image: radial-gradient(farthest-corner at 120% 140%,
      rgba(255, 51, 85, 0.562) 0%, rgba(66, 51, 238, 0) 50%);
  background-color: transparent;
  border-color: #aaa;
  background-image: url("../image/bg2.png");
  background-size: 100% 100%;
  min-width: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding-top: 1.8rem;
}
.calc_button{
  position: relative;
  display: inline-flex;
  background-color: lightslategray;
  width: 144px;
  font-family: monospace, Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}
.calc_button:hover{
  cursor: pointer;
}
input{
  width: 100px;
  transition: ease-in-out, width .35s ease-in-out;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
input:focus {
  background-color: yellow;
  outline: none;
}
.top_header{
  background-color: rgba(250, 233, 135, 0);
  color: rgb(20, 20, 20);
  font-family: monospace;
  padding: 0.25rem;
}
.side_header{
  background-color: rgb(167, 167, 167);
  color: rgb(20, 20, 20);
  font-family: monospace;
  text-align: left;
}
.dropdown{
  width: 120px;
  transition: ease-in-out, width .35s ease-in-out;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  height: 1.5rem;
}
.dropdown:focus {
  background-color: yellow;
  outline: none;
}
.selected_denomination {
  background-color:rgb(20, 20, 20);
  color: rgb(158, 158, 158);
}
.table1{
  position: relative;
  display: inline-block;
  margin-top: 0.5rem;
}
.info1{
  border: 0;
  border-collapse: collapse;
  margin-left: 7.3%;
  align-self: self-start;
  font-family: Arial, Helvetica, sans-serif;
}
.info1 .title{
  position: relative;
  background-color: transparent;
  color: rgb(20, 20, 20);
  font-family: Arial, Helvetica, sans-serif;
  border: 0;
}
.info1 .title:first-child{
  border-top-left-radius: 0.8vw;
  padding-left: 0.5vw;
}
.lat_display{
  color: rgb(163, 163, 163);
  background-color: rgb(20, 20, 20);
  text-align: center;
  padding: 0.32rem;
}
.info1 tr td:nth-child(2n){
  color: rgb(167, 167, 167);
  font-family: 'open_24_display_stregular';
  font-size: 1.1em;
}
.info1 td{
  padding: 0.4rem;
  background-color: black;
}
.dropdown{
  cursor: pointer;
}
.dropdown_parent{
  position: relative;
  overflow: hidden;
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}
.dropdown_arrow{
  position: absolute;
  background: yellowgreen;
  top: 0;
  right: 0;
  padding: 0.5rem;
  pointer-events: none;
  transition: all 0.5s ease;
  margin: 0.4rem;
}
.dropdown_arrow:hover{
  background: rgba(117, 117, 117, 0.719);
  color: yellowgreen;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
select{
  width: 10rem;
  padding-left: 0.8rem;
}
.denom_label{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.calculator_keys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  pointer-events: none;
}
.calculator_keys button{
  cursor: pointer;
  pointer-events: all;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  border: solid 1px white;
  color: white;
}
.panel2{
  position: relative;
  display: inline-block;
  width: auto;
  top: 0;
  left: 0;
  background-color: rgb(59, 59, 78);;
  margin: 1rem;
  height: auto;
  align-self: center;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 5px 10px 8px #242424;
}
.panel2::before{
  content: "";
  position: absolute;
  display: inline-block;
  top: 2.5rem;
  left: -2rem;
  width: 2rem;
  height: 3rem;
  z-index: 0;
  background-image: url(../image/cables.png);
  background-repeat: repeat;
  background-size: cover;
  background-position: 58% 0%;
}
.exch_rate, .tax_rate{
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 0.4rem;
}
.dropdown_parent::after{
  height: 1.5rem;
  justify-content: center;
  background-color: #00000000;
  content: '\25BC';
  font: normal normal normal 17px/1 Arial;
  color: #000000;
  right: 8px;
  height: 1.5rem;
  border-left: 1px solid #000000;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  padding-left: 0.3rem;
  padding-right: 0.25rem;
}
.app_icon{
  position: absolute;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-repeat: repeat;
  background-size: cover;
  background-position: 0% 0%;
  cursor: pointer;
}
.app_icon div{
  position: absolute;
  display: inline-block;
  top: 4.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.app_icon:hover{
  font-weight: bold;
}
.calc_icon{
  top: 7rem;
  left: 3rem;
  background-image: url(../image/lat_calc_icon.png);
}
.newsfeed_icon{
  top: 18rem;
  left: 3rem;
  background-image: url(../image/block_icon.png);
}
.scope_icon{
  top: 27rem;
  left: 3.5rem;
  background-image: url(../image/scope_icon.png);
}
.top_bar{
  position: absolute;
  display: flex;
  width: 100%;
  height: 2rem;
  background-color: rgb(0, 159, 207);
  top: 0;
  left: 0;
  border-bottom: solid;
  justify-content: flex-end;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.bottom_bar{
  position:absolute;
  display: flex;
  width: 100%;
  height: 2rem;
  background-color: rgb(0, 159, 207);
  bottom: 0;
  left: 0;
  border-top: solid;
  justify-content: flex-end;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.widget1{
  display: inline-flex;
  align-self: center;
  justify-self: flex-end;
  border: solid;
  padding: 0.5rem;
  height: 90%;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  font-family: 'zektonregular';
  font-size: 1.1em;
}
.widget2{
  display: inline-flex;
  align-self: center;
  justify-self: flex-end;
  border: solid;
  padding: 0.5rem;
  height: 90%;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  font-family: 'zektonregular';
  font-size: 1.1em;
}
.slip_display, .strip_display, .bar_display{
  font-family: 'open_24_display_stregular';
  font-size: 1.1em;
}
.input_div{
  position: relative;
  display: inline-flex;
}
.currency{
  position: relative;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0.5rem;
  margin-left: 0.1em;
}
.bg_canvas{
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  border: solid blue;
  z-index: -2;
}
.scope_panel{
  position: absolute;
  display: none;
  right: 48px;
  bottom: 5rem;
  width: 200px;
  height: 200px;
  border: solid yellowgreen;
  z-index: 2;
  border-bottom-right-radius: 2rem;
  background-color: #46529888;
}
.scope_canvas{
  position: absolute;
  display: inline-block;
  left: -0.6vw;
  bottom: 0.11rem;
  width: 200px;
  height: 200px;
  z-index: 20;
  margin: 0;
  padding: 0;
}
.scope_heading{
  position: absolute;
  display: inline-block;
  left: -3px;
  top: -3rem;
  width: 200px;
  height: 40px;
  border: solid yellowgreen;
  z-index: -2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  font-family: 'arcade_interlacedregular', Arial, Helvetica, sans-serif;
  color: white;
  background-color: #46529888;
}
label{
  margin-right: 1rem;
}
.calc_close_btn{
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;  
  border: 1px solid;
}
.newsfeed_panel{
  position: absolute;
  display: none;
  right: 48px;
  top: 7rem;
  width: 200px;
  height: 200px;
  border: solid yellowgreen;
  z-index: 2;
  border-bottom-right-radius: 2rem;
  background-color: #46529888;
}
.newsfeed_close_btn{
  position: absolute;
  display: inline-flex;
  right: -2.35rem;
  top: -3rem;
  width: 30px;
  height: 40px;
  border: solid yellowgreen;
  z-index: 2;
  font-family: 'zektonregular';
  font-size: 1.1em;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.scope_close_btn{
  position: absolute;
  display: inline-flex;
  right: -2.35rem;
  top: -3rem;
  width: 30px;
  height: 40px;
  border: solid yellowgreen;
  z-index: 2;
  font-family: 'zektonregular';
  font-size: 1.1em;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.newsfeed_heading{
  position: absolute;
  display: inline-block;
  left: -3px;
  top: -3rem;
  width: 200px;
  height: 40px;
  border: solid yellowgreen;
  z-index: -2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  font-family: 'arcade_interlacedregular', Arial, Helvetica, sans-serif;
  color: white;
  background-color: #46529888;
}
.newsfeed_body{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.05em;
  color: white;
  padding: 0.5em;
  height: 95%;
  overflow-y: auto;
  overflow-x: hidden;
}
@font-face {
  font-family: 'arcade_interlacedregular';
  src: url('../font/arcade_i-webfont.woff2') format('woff2'),
       url('../font/arcade_i-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_24_display_stregular';
  src: url('../font/open_24_display_st-webfont.woff2') format('woff2'),
       url('../font/open_24_display_st-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'earth_orbiterregular';
    src: url('../font/earthorbiter-webfont.woff2') format('woff2'),
         url('../font/earthorbiter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'zektonregular';
    src: url('../font/zekton_rg-webfont.woff2') format('woff2'),
         url('../font/zekton_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 720px) {

  .calc_main{
    width: 393px;
    font-size: 12px;
    right: 2vw;
    flex-direction: column;
  }
  .panel2::before{
    top: -2.2rem;
    left: 3rem;
    transform: rotate(90deg);
  }
  .panel2{
    align-self: flex-start;
  }


}